<div class="container">
    <div id="scoreboard-view" class="scoreboard">
        <div class="team team-a">
            <div class="team-name" id="teamA">{{scoreData().TeamAName}}</div>
            <div class="score" id="scoreA">{{scoreData().TeamAScore}}</div>
        </div>
        <div class="vs">VS</div>
        <div class="team team-b">
            <div class="team-name" id="teamB">{{scoreData().TeamBName}}</div>
            <div class="score" id="scoreB">{{scoreData().TeamBScore}}</div>
        </div>
    </div>
</div>
