/* You can add global styles to this file, and also import other style files */
:host {
    --orange: #ff891f;
    --purple: #71348d;
    --dark-green: #2a7b0c;
    --dark-blue: #4b6fdb;
    --red: #b4000b;
    --yellow: #ffe552;
    --green: #85ff47;
    --light-blue: #31d9c8;
    --pink: #ff91b6;
    --brown: #654321;
    --dark-pink: #ff00e0;
    --dark-orange: #ff4406;

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }